# Dependências (muito importante para não subir gigabytes no GitHub)
node_modules/

# Arquivos de compilação
dist/
build/

# Variáveis de ambiente com senhas
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Banco de Dados
*.sqlite
*.sqlite-journal